.Sidebar {
  border-right: 1px solid black;
  bottom: 0;
  color: black;
  left: 0;
  padding: 20px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 240px;
}

  .Sidebar__logo {
    margin: 0 0 10px;
    width: 100px;
  }

  .Sidebar__title {
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 20px;
  }

  .Sidebar__nav {
  }

    .Sidebar__nav-item {
      display: block;
      margin: 0 0 10px;
    }

      .Sidebar__nav-link {
        color: inherit;
        display: block;
      }
